.body-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.calculator-container {
  position: relative;
  margin: max(calc(calc(100vh - 534.5px) / 2), 0px) auto;
  width: min(100vw, 356px);
  min-width: 255px;
  background: var(--background);
  border-radius: 0.5rem;
  overflow: hidden;
}

.calculator-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, .35);
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 4;
}

.calculator-container > p {
  margin: 0.5rem 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  color: #7B6A6A;
}

header, header button {
  display: flex;
  align-items: center;
}

header {
  margin-left: calc(2.8rem + 0.5rem);
  height: 2.8rem;
  justify-content: space-between;
}

header button {
  justify-content: center;
}
 
header .menu {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 2.8rem;
  height: 2.8rem;
  z-index: 3;
}
header .history {
  width: 2.5rem;
  height: 2.5rem;
}

header h1 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--black);
}

.equation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1rem;
}

.equation button {
  display: none;
  position: absolute;
  height: 1.25rem;
  z-index: 1;
}
.equation button:first-of-type {left: 0;}
.equation button:last-of-type {right: 0;}

.equation span {
  position: relative;
  left: 0;
  display: inline-block;
  height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--keyboard-text);
  white-space: nowrap;
  transition: left .4s;
}
.equation output, .output-measure {
  display: block;
  height: 3.375rem;
  font-size: 2.25rem;
  font-weight: 500;
  color: var(--black);
  white-space: nowrap;
}
.output-measure {
  position: absolute;
	top: -9999px;
}

.memory-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.125rem;
  width: 20.25rem;
  margin: 0.625rem auto 0.125rem;
}
.memory-row button {
  height: 2rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--keyboard-text);
  transition: box-shadow .1s, background-color .1s;
}
.memory-row button:disabled {
  color: var(--memory-disabled);
}

.memory-row button:disabled .enabled-img {
  display: none;
}
.memory-row button:enabled .disabled-img {
  display: none;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 3.375rem;
  gap: 0.125rem;
  padding: 0 0.3rem 0.3rem;
}

.keyboard button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--keyboard-text);
  transition: box-shadow .1s, filter .1s;
}
.keyboard button.clear {
  font-size: 1.125rem;
}

.keyboard button:disabled {
  color: var(--keyboard-disabled);
}
.keyboard button:disabled img {
  opacity: .2;
}

.keyboard button.white {
  font-weight: 600;
  background-color: var(--white);
}
.keyboard button.light-gray {
  background-color: var(--light-gray);
}
.keyboard button.dark-gray {
  font-weight: 600;
  background-color: var(--dark-gray);
}

@media(hover: hover) {
  header button:hover, .clear-saves:hover {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .1);
  }

  .equation button:hover {
    filter: brightness(.9);
  }

  .memory-row button:not(:disabled):hover {
    background-color: rgba(0, 0, 0, .05);
  }
  .keyboard button:not(:disabled):hover,
  .keyboard-hover:not(:disabled) {
    filter: brightness(.8);
  }
  .memory-row button:not(:disabled):hover,
  .keyboard button:not(:disabled):hover,
  .keyboard-hover:not(:disabled) {
    box-shadow:
      inset 0 0 1px 1px rgba(0, 0, 0, .15),
      inset 0 0 10px 1px rgba(0, 0, 0, .025);
  }
}