.body-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.calculator-container {
  position: relative;
  width: 356px;
  background: var(--background);
  border-radius: 8px;
  overflow: hidden;
}

.calculator-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, .35);
  border-radius: 8px;
  cursor: pointer;
  z-index: 4;
}

.calculator-container > p {
  margin: 8px 15px;
  font-weight: 400;
  font-size: .75rem;
  color: #7B6A6A;
}

header, header button {
  display: flex;
  align-items: center;
}

header {
  margin-left: calc(45px + 7px);
  height: 45px;
  justify-content: space-between;
}

header button {
  justify-content: center;
}
header button:hover, .clear-saves:hover {
  background-color: rgba(0, 0, 0, .05);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .1);
}
 
header .menu {
  position: absolute;
  top: 32px;
  left: 0;
  width: 45px;
  height: 45px;
  z-index: 3;
}
header .history {
  width: 40px;
  height: 40px;
}

header h1 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--black);
}

.equation {
  margin: 0 15px;
  text-align: right;
}
.equation span {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--keyboard-text);
}
.equation output, .output-measure {
  display: block;
  height: 55px;
  font-size: 2.25rem;
  font-weight: 500;
  color: var(--black);
  white-space: nowrap;
}
.output-measure {
  position: absolute;
	top: -9999px;
}

.memory-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px 2px;
}
.memory-row button {
  width: 51px;
  height: 31px;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--keyboard-text);
  transition: box-shadow .1s, background-color .1s;
}
.memory-row button:disabled {
  color: var(--memory-disabled);
}

.memory-row button:disabled .enabled-img {
  display: none;
}
.memory-row button:enabled .disabled-img {
  display: none;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 55px;
  gap: 2px;
  padding: 0 5px 5px;
}

.keyboard button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--keyboard-text);
  transition: box-shadow .1s, filter .1s;
}
.keyboard button.clear {
  font-size: 18px;
}

.keyboard button:disabled {
  color: var(--keyboard-disabled);
}
.keyboard button:disabled img {
  opacity: .2;
}

.keyboard button.white {
  font-weight: 600;
  background-color: var(--white);
}
.keyboard button.light-gray {
  background-color: var(--light-gray);
}
.keyboard button.dark-gray {
  font-weight: 600;
  background-color: var(--dark-gray);
}

.memory-row button:not(:disabled):hover {
  background-color: rgba(0, 0, 0, .05);
}
.keyboard button:not(:disabled):hover,
.keyboard-hover:not(:disabled) {
  filter: brightness(.8);
}
.memory-row button:not(:disabled):hover,
.keyboard button:not(:disabled):hover,
.keyboard-hover:not(:disabled) {
  box-shadow:
    inset 0 0 1px 1px rgba(0, 0, 0, .15),
    inset 0 0 10px 1px rgba(0, 0, 0, .025);
}