.history .saves-container ul li {
  padding: 0.5rem 1rem 0.125rem 0.3125rem;
}

.history .saves-container li + li {
  margin-top: 1.875rem;
}

.history .saves-container li pre {
  position: relative;
  display: inline-block;
  margin-bottom: 0.375rem;
  font-size: 0.875rem;
  font-weight: 300;
  white-space: pre-wrap;
  word-break: break-all;
  color: var(--black);
}

.history .saves-container li output {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
}